@use "../../../Styles/variable" as *;

nav {
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 32px;

        li {
            align-items: center;
            color: $Grey-400;


            &:hover {
                color: $White-color;

                path {
                    stroke: $White-color;
                }
            }
        }
    }
}

// nav ul li a
// nav ul li:hover
.active {
    color: $White-color;

    path {
        stroke: $White-color;
    }
}