@use '../../Styles/variable' as *;
@use '../../Styles/typography' as *;
@use '../../Styles/reset' as *;

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 564px;
    margin: 100px 60px 100px 0;
    align-items: center;

    .item {
        display: flex;
        flex-direction: row;
        gap: 24px;
        margin-top: 32px;

        .blog {
            display: flex;
            flex-direction: column;
            width: 424px;
            height: 494px;
            border-radius: 8px;
            border: 1px solid $Grey-100;

            .img {
                width: 424px;
                height: 324px;
            }

            .content{
                margin: 24px;

                .description {
                }

                .btnReadMore {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    color: $Primary-color;
                    padding-left: 0;
                }
            }

            
        }
    }
}