@use '../../Styles/variable' as *;

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
  margin: 24px 100px 0 100px;
  box-shadow: 0 8px 20px rgba(1, 17, 2, 0.08);

  .featuredItem {
    display: flex;
    gap: 16px;

    .icon {
      width: 40px;
      height: 40px;
    }

    .text {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 120%;
        color: $Grey-900;
      }

      .description {
        font-size: 14px;
        line-height: 150%;
        color: $Grey-400;
      }
    }

    &:first-child {
      margin-left: 40px;
    }

    &:last-child {
      margin-right: 40px;
    }
  }
}