@use "../../Styles/variable" as *;

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin: 32px 100px 80px;

    .left {}

    .rightDashboard {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .row {
            display: flex;
            flex-direction: row;
            gap: 24px;

            .profile {
                width: 536px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 32px 0;
                border: 1px solid $Grey-100;
                border-radius: 8px;
                gap: 20px;
                text-align: center;


                .img {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    position: relative;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    border: 2px solid $Primary-color;
                    margin: 0 auto;

                    .avatar {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                        border-radius: 50%;
                    }

                    input[type="file"] {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        opacity: 0.8;
                        font-size: 12px;
                        cursor: pointer;
                    }
                }

                .info {

                    .name {
                        font-size: $font-size-large;
                        font-weight: $font-weight-medium;
                        line-height: 150%;
                    }

                    .inputEdit {
                        padding: 5px 10px;
                        border-radius: 8px;
                        border: 1px solid #ccc;
                        font-size: 16px;
                    }

                    .user {}
                }

                .edit {
                    font-size: $font-size-small;
                    font-weight: $font-weight-medium;
                    color: $Primary-color;
                    cursor: pointer;
                }
            }

            .bg {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 424px;
                padding: 32px;
                border: 1px solid $Grey-100;
                border-radius: 8px;


                .title {
                    font-size: $font-size-tiny;
                    font-weight: $font-weight-medium;
                    color: $Grey-400;
                }

                .name {
                    font-size: $font-size-medium;
                    font-weight: $font-weight-medium;
                    line-height: 150%;
                }

                .row{
                    display: flex;
                    flex-direction: row;
                }

                .email,
                .phone {
                    font-size: $font-size-small;
                    font-weight: $font-weight-regular;
                    color: $Grey-900;
                }

                .edit {
                    font-size: $font-size-small;
                    font-weight: $font-weight-medium;
                    color: $Primary-color;
                    cursor: pointer;
                }

                .btn{
                    display: flex;
                    flex-direction: row;
                    gap: 2rem;
                }

                .inputEdit {
                    padding: 5px 10px;
                    border-radius: 8px;
                    border: 1px solid #ccc;
                    font-size: 16px;
                }

            }
        }

        .orderHistory {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 16px 24px;
            border: 1px solid $Grey-100;
            border-radius: 8px;

            .heading {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: $font-size-large;
                font-weight: $font-weight-medium;

                .btn {
                    color: $Primary-color;
                    font-size: $font-size-small;
                    font-weight: $font-weight-medium;
                    align-items: center;
                }
            }
        }
    }

    .rightOrderHistory {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .orderHistory {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 16px 24px;
            border: 1px solid $Grey-100;
            border-radius: 8px;

            .heading {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: $font-size-large;
                font-weight: $font-weight-medium;

            }


        }
    }


}