@use '../../Styles/variable' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200000;

  .popup {
    width: 650px;
    background: $White-color;
    border-radius: 16px;
    padding: 25px 30px;
    position: relative;
    animation: fadeIn 0.25s ease;
    max-height: 85vh;
    overflow-y: auto;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);

    .closeBtn {
      position: absolute;
      top: 12px;
      right: 12px;
      background: $Grey-100;
      border: none;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      font-size: 22px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background: $Grey-300;
      }
    }

    .section {
      margin-bottom: 22px;

      .infoBox {
        background: $Grey-50;
        padding: 15px;
        border-radius: 10px;
        line-height: 1.6;

        p {
          margin: 4px 0;
        }
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .item {
          display: flex;
          gap: 12px;
          background: $White-color;
          padding: 12px;
          border-radius: 12px;
          border: 1px solid $Grey-50;

          .img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 8px;
          }
        }

        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .productName {
            font-weight: $font-weight-semibold;
            margin-bottom: 4px;
          }
        }
      }
    }
  }

}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}