@use "../../Styles/variable" as *;

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    gap: 32px;

    .btn{
        width: 163px;
    }
}