@use "../../../Styles/variable" as *;
@use "../../../Styles/typography" as *;

.quickViewWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;

    .quickViewContainer {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        width: 1320px;
        height: 636px;
        background-color: #fff;
        border-radius: 12px;
        border: 1px solid $Grey-200;
        padding: 32px;
        position: relative;
        z-index: 1000;

        .quickViewBox {
            display: flex;
            flex-direction: row;

            .imageBox {
                .img {
                    width: 556px;
                    height: 556px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 24px;
                width: 568px;
                margin-left: 24px;

                .heading {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;

                    .price {
                        display: flex;
                        flex-direction: row;
                        gap: 4px;
                        font-size: $font-size-xxl;
                        font-weight: $font-weight-medium;
                        color: $Primary-color;

                        .originalPrice {
                            color: $Grey-400;
                            text-decoration: line-through;
                        }

                        .salePrice {}
                    }
                }

                .brand {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .brandBox {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;

                        .left {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;
                        }

                        .right {
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                            align-items: center;
                        }
                    }
                }

                .CTA {
                    display: flex;
                    flex-direction: row;
                    gap: 12px;

                    .btnAdd {
                        width: 368px;
                    }
                }
            }

            .btnClose {
                position: absolute;
                top: 10px;
                right: 10px;
                background: transparent;
                border: none;
                font-size: 20px;
                cursor: pointer;
                color: $Grey-800;
                z-index: 10;
                padding: 6px;
                border-radius: 50%;
                transition: background 0.2s;
                text-align: center;
            }

            .btnClose:hover {
                background: $Grey-50;
            }
        }


    }
}