@use '../../Styles/variable' as *;
@use '../../Styles/typography' as *;

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin: 100px;

    .left{
    }

    


}