@use '../../../Styles/variable' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .tableWrapper {
    .table {
      width: 100%;
      border-collapse: collapse;
      background: $White-color;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

      th,
      td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid $Grey-50;

        .statusSelect {
          padding: 6px 10px;
          border-radius: 4px;
          border: 1px solid $Grey-100;
          cursor: pointer;
          outline: none;

          &:focus {
            border-color: $Primary-color;
          }
        }

        .viewBtn {
          background: $Primary-color;
          color: $White-color;
          border: none;
          padding: 6px 12px;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            background: $Soft-Primary-color;
          }
        }
      }

      th {
        background: $Grey-50;
        font-weight: $font-weight-semibold;
      }

      tr:hover {
        background: $Green-grey-50;
      }
    }
  }

}