@use '../../../Styles/variable' as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000000;
  backdrop-filter: blur(4px);

  .popup {
    background: $White-color;
    width: 90%;
    max-width: 850px;
    max-height: 90vh;
    border-radius: 12px;
    padding: 30px;
    position: relative;
    overflow-y: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

    .closeBtn {
      position: absolute;
      top: 15px;
      right: 20px;
      border: none;
      background: none;
      font-size: 28px;
      cursor: pointer;
      color: $Grey-500;

      &:hover {
        color: $Grey-900;
      }
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1.2fr;
      gap: 25px;

      .infoSection {
        .card {
          background: $Grey-50;
          padding: 15px;
          border-radius: 8px;
          margin-bottom: 15px;


          p {
            margin: 8px 0;
            font-size: 14px;
          }

          .total {
            font-size: $font-size-medium;
            color: $Danger-color;
            margin-top: 15px;
          }
        }
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      .itemsSection {
        .itemList {
          border: 1px solid $Grey-50;
          border-radius: 8px;
          padding: 10px;

          .productItem {
            display: flex;
            align-items: center;
            gap: 15px;
            border-bottom: 1px solid $Grey-50;

            &:last-child {
              border: none;
            }

            img {
              width: 60px;
              height: 60px;
              object-fit: cover;
              border-radius: 6px;
            }


            .productInfo {
              .name {
                color: $Grey-900;
                font-weight: $font-weight-semibold;
                font-size: $font-size-tiny;
                margin: 0;
              }

              .price {
                color: $Grey-600;
                font-size: $font-size-tiny;
                margin-top: 4px;
              }
            }
          }
        }
      }


    }
  }
}

/* Status colors */
.statusProc {
  color: $Warning-color;
  font-weight: bold;
}

.statusShip {
  color: $Primary-color;
  font-weight: bold;
}

.statusDone {
  color: $Hard-Primary-color;
  font-weight: bold;
}