@use "../../Styles/variable" as *;

.categoriesContainer {
    height: 650px;
    padding-top: 70px;

    .cateHeading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;

        .btn {
            display: flex;
            color: $Primary-color;
            font-size: $font-size-small;
            font-weight: $font-weight-medium;
            gap: 12px;
            align-items: center;
        }
    }

    .categoriesBox {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding-top: 32px;
        gap: 24px;
        margin-left: 100px;
        margin-right: 100px;

        .categoriesItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 200px;
            height: 213px;
            gap: 16px;
            border: 1px solid $Grey-100;
            border-radius: 5px;


            .img {
                width: 190px;
                height: 130px;
                margin-top: 16px;
            }

            .title {
                font-weight: $font-weight-medium;
                font-size: $font-size-medium;
                color: $Grey-900;
            }

            &:hover {
                cursor: pointer;
                border-color: $Primary-color;
                box-shadow: 1px 1px 8px $Primary-color;
            }
        }


    }
}