@use '../../Styles/variable' as *;

.shoppingCartContainer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: $White-color;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-top: 40px;
    margin-bottom: 40px;

    .cartTable {
        width: 100%;
        border-collapse: collapse;
        margin-top: 40px;

        .cartHeader {
            display: grid;
            grid-template-columns: 3fr 1fr 2fr 1fr 0.5fr;
            font-weight: $font-weight-semibold;
            color: $Grey-500;
            padding: 10px 0;
            border-bottom: 1px solid $Grey-100;
        }

        .cartRow {
            display: grid;
            grid-template-columns: 3fr 1fr 2fr 1fr 0.5fr;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid $Grey-50;

            .product {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    border-radius: 8px;
                }

                span {
                    font-size: $font-size-small;
                }
            }

            .price,
            .subtotal {
                font-size: $font-size-small;
                color: $Grey-800;
            }

            .quantity {
                display: flex;
                align-items: center;
            }

            .removeBtn {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: color 0.2s;

            }
        }
    }

    .cartFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        .total {
            font-size: $font-size-medium;
            font-weight: $font-weight-semibold;

            span:first-child {
                margin-right: 10px;
            }
        }

        .btnSubmit {
            width: 376px;

            &.unavailable {
                cursor: not-allowed;
            }
        }

    }
}