@use '../../Styles/variable' as *;

.addProduct {
    max-width: 420px;
    margin: 40px auto;
    padding: 25px 30px;
    background: $White-color;
    border-radius: 16px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);

    form {
        display: flex;
        flex-direction: column;
        gap: 12px;

        input,
        select {
            padding: 10px 12px;
            border: 1px solid $Grey-200;
            border-radius: 8px;
            font-size: $font-size-small;
            transition: all 0.25s ease;

            &:focus {
                outline: none;
                border-color: $Primary-color;
                box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
            }
        }

        input[type="file"] {
            padding: 6px;
            border: none;
        }

        button {
            background: $Primary-color;
            color: $White-color;
            border: none;
            border-radius: 8px;
            padding: 10px 0;
            font-weight: 600;
            cursor: pointer;
            font-size: 1rem;
            transition: background 0.3s ease;

            &:hover {
                background: $Hard-Primary-color;
            }
        }
    }
}

/* Responsive */
@media (max-width: 480px) {
    .addProduct {
        padding: 20px;

        form {
            gap: 10px;
        }

        select[multiple] {
            height: 100px;
        }
    }
}