@use '../../Styles/variable' as *;

.container {
    display: flex;
    gap: 24px;
    padding: 40px;
    background-color: $White-color;
    min-height: calc(100vh - 80px);

    .left {
        flex: 0 0 312px;
    }

    .right {
        flex: 1;
    }
}