@use "../../Styles/variable" as *;
@use "../../Styles/typography" as *;

.checkoutContainer {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;

    // ===== Billing Form =====
    .billingForm {
        flex: 2;
        display: flex;
        flex-direction: column;
        width: 872px;
        height: 710px;
        gap: 1rem;

        .row {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .inputCheckout {
                flex: 1;
                padding: 14px;
                border: 1px solid #ccc;
                width: 100%;
                border-radius: 6px;
                font-size: $font-size-tiny;
                font-weight: $font-weight-regular;
                color: $Grey-400;

                &:focus {
                    outline: none;
                    border-color: $Primary-color;
                    box-shadow: 0 0 4px rgba(0, 178, 7, 0.3);
                }

            }


            .formGroup {
                flex: 1;
                display: flex;
                flex-direction: column;

                .inputCheckout,
                select {
                    flex: 1;
                    padding: 14px;
                    border: 1px solid #ccc;
                    width: 100%;
                    border-radius: 6px;
                    font-size: $font-size-tiny;
                    font-weight: $font-weight-regular;
                    color: $Grey-400;
                    margin-top: 8px;

                    &:focus {
                        outline: none;
                        border-color: $Primary-color;
                        box-shadow: 0 0 4px rgba(0, 178, 7, 0.3);
                    }
                }
            }


        }

        .additionalInfo {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 1rem;

            textarea {
                width: 100%;
                min-height: 80px;
                padding: 0.7rem;
                border: 1px solid #ccc;
                border-radius: 6px;
                font-size: 0.95rem;
                resize: vertical;
                margin-top: 8px;

                &:focus {
                    outline: none;
                    border-color: $Primary-color;
                    box-shadow: 0 0 4px rgba(0, 178, 7, 0.3);
                }
            }
        }

    }

    .orderSummary {
        flex: 1;
        border: 1px solid $Grey-100;
        padding: 0 24px 24px 24px;
        border-radius: 10px;
        background-color: $White-color;

        .rowSummary {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 12px 0 12px 0;

            span {
                font-weight: $font-weight-medium;
            }

            .totalValue {
                font-weight: $font-weight-semibold;
                font-size: $font-size-medium;
            }
        }

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.75rem;
            margin-bottom: 12px;
            padding-bottom: 8px;
            border-bottom: 1px solid #f0f0f0;

            img.itemImage {
                width: 55px;
                height: 55px;
                object-fit: cover;
                border-radius: 8px;
            }

            .itemInfo {
                flex: 1;
                display: flex;
                flex-direction: row;
                gap: 6px;

                .itemName {
                    font-weight: 600;
                    font-size: 0.95rem;
                    color: #222;
                }

                .itemQuantity {
                    font-size: 0.9rem;
                    color: #666;
                }
            }

            .itemPrice {
                font-weight: 600;
                color: #111;
                min-width: 60px;
                text-align: right;
            }
        }

        .paymentMethod {
            margin-top: 20px;
            margin-bottom: 24px;

            .methodBox {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 32px;
            }

            label {
                display: block;
                margin-bottom: 5px;
                cursor: pointer;
            }

            input[type="radio"] {
                margin-right: 8px;
            }
        }

        .submitBox {
            display: flex;
            justify-content: center;

            .btnSubmit {
                width: 376px;
            }
        }


    }
}