@use '../../Styles/variable' as *;


.navbarContainer {
  position: fixed;
  width: 100%;
  height: 183px;
  top: 0;
  z-index: 99999;
  background-color: $White-color;

  .smallOne {
    display: flex;
    height: 38px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 100px;

    .mapPin {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      .iconMapPin {
        width: 15px;
        height: 18px;
        background-image: url("../../Assets/Icon/iconMapPin.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px;
      }

      .location {
        font-size: 12px;
        line-height: 130%;
        color: $Grey-600;
      }
    }

    .account {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      line-height: 130%;
      color: $Grey-600;
      gap: 8px;

      .profile {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid $Primary-color;
        background-size: cover;
        background-position: center;
      }
    }

  }
}

.midle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  padding: 12px 100px;
  border-top: 2px solid $Grey-50;

  .logoBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    .logo {
      width: 32px;
      height: 32px;
      background-image: url("../../Assets/Icon/iconLogo.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .ecovera {
      font-size: 32px;
      color: #002603;
    }
  }

  .searchBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    height: 45px;
    padding: 12px 0 12px 16px;
    border: 2px solid $Grey-50;
    border-radius: 16px;
    gap: 8px;

    .iconSearch {
      width: 20px;
      height: 20px;
      background-image: url("../../Assets/Icon/iconSearch.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .inputSearch {
      border: none;
      outline: none;
      font-size: 15px;
      width: 100%;
    }

    .btnSearch {
      display: flex;
      height: 45px;
      background-color: $Primary-color;
      color: $White-color;
      font-size: 14px;
      padding: 14px 24px;
      margin-left: auto;
      border: none;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      cursor: pointer;
    }

    &:hover .btnSearch {
      background-color: $Hard-Primary-color;
    }
  }

  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    border-left: 1px solid $Grey-200;
    padding-left: 15px;

    .iconCart {
      width: 34px;
      height: 34px;
      color: $Grey-900;
    }
  }
}

.backgroundNavLinks {
  background-color: $Grey-800;

  .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    font-size: 14px;
    align-items: center;
    padding: 12px 100px;

    .phone {
      display: flex;
      flex-direction: row;
      color: $White-color;
      align-items: center;
      line-height: 150%;
      gap: 8px;

      .icon {
        width: 28px;
        height: 28px;
        background-image: url("../../Assets/Icon/iconCallPhone.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.hidden {
  top: -38px;
}